{% extends "base.html" %} {% load static %}
{% load bag_tools %}
{% block content %}

<div class="container bag-container">
  <div class="row products-text-row">
    <div class="col 12">
      <h2>My Favourites</h2>
      <p>
        Like what you see but not ready to buy? Keep all your favourites in one place, and add them to your basket when you are ready to purhcase. <br><br>
        You can adjust the quantity you wish to order in your basket.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% if favourites %}
      <div class="table-responsive rounded">
        <!-- Bag items Table -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Add to bag</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for item in favourites %}
            <tr>
              <td class="w-25">
                {% if item.product.image %}
                    <img class="img-fluid" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                {% endif %}
                <p>{{ item.product.name }}</p>
              </td>
              <td>
                <p>£{{ item.product.price }}</p>
              </td>
            </tr>
            {% endfor %}

            <tr>
              <td colspan="5" class="text-right">
                <a href="{% url 'products' %}" class="btn btn-yellow">
                  <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                  </span>
                  <span>Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-secondary">
                  <span>Secure Checkout</span>
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% else %}
      <p class="lead mb-5">Your favourites is empty.</p>
      <a href="{% url 'products' %}" class="btn btn-yellow">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>Keep Shopping</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 

<script type="text/javascript">
  // Remove item and reload on click
  $(".remove-item").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var url = `/bag/remove/${itemId}/`;
    var data = { csrfmiddlewaretoken: csrfToken};

    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>

{% endblock %}
