{% extends "base.html" %} 
{% load static %} 

{% block extracss %} 
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}


{% block content %}

<div class="container bag-container">

    <div class="row">
        <div class="col">
                <h2>Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
        {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-primary">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                {% endif %}
        </div>
    </div>


</div>



{% endblock %}

