{% extends "base.html" %} {% load static %} {% block page_header %} {% endblock%} {% block content %}

<!-- Jumbotron -->
<div class="jumbotron-container jumbotron-section">
  <div class="row jumbotron-row">
    <div class="col-12">
      <div class="jumbotron jumbotron-content text-center">
        <h1 class="display-4">NO GLUE FALSE EYELASHES</h1>
        <h3 class="lead">We know, we can't use glue on lashes either.</h3>
      </div>
    </div>
  </div>
</div>

<!-- Intro Section -->

<div class="container">
  <div class="row intro-row">
    <div class="col-12">
      Do you struggle to apply glue on lashes? Or simply looking for a no glue,
      fake eyelash alternative? <br /><br />
      We feel you. This is why we started Magnetic Eyes, the lash brand that has
      been created by people that can’t use glue on lashes!<br /><br />
      Magnetic Eyes use tiny magnets to fix the lashes in place. Not a blob of
      glue in sight.​
    </div>
  </div>
</div>

<!-- Products Section -->
<div class="container">
  <div class="row products-row-title">
    <div class="col">
      <h2>Shop for Magnetic Lashes</h2>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
    <!-- Card 1 -->
    <div class="col">
        <div class="card" style="width: 18rem">
            <img
            class="card-img-top"
            src="/media/drama.png"
            alt="Drama eyelash product image"
            />
            <div class="card-body">
                <h4 class="card-title">DRAMA</h4>
                <p class="card-text">Double Magnet Lash</p>
                <p class="card-text">£12.99</p>
                <a href="#" class="btn btn-primary">Shop DRAMA</a>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="col">
        <div class="card" style="width: 18rem">
            <img
            class="card-img-top"
            src="/media/drama.png"
            alt="Drama eyelash product image"
            />
            <div class="card-body">
                <h4 class="card-title">DRAMA</h4>
                <p class="card-text">Double Magnet Lash</p>
                <p class="card-text">£12.99</p>
                <a href="#" class="btn btn-primary">Shop DRAMA</a>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="col">
        <div class="card" style="width: 18rem">
            <img
            class="card-img-top"
            src="/media/drama.png"
            alt="Drama eyelash product image"
            />
            <div class="card-body">
                <h4 class="card-title">DRAMA</h4>
                <p class="card-text">Double Magnet Lash</p>
                <p class="card-text">£12.99</p>
                <a href="#" class="btn btn-primary">Shop DRAMA</a>
            </div>
        </div>
    </div>
</div>
</div>

<!-- About section -->

<div class="container about-container">
    <div class="row about-row">
        <div class="col-sm about-col-left">
        <div>
        <h2>What are Mangetic Eyes Lashes?</h2>
            <p>
            Bespoke magnetic lash design<br>
            Long lasting, multiple uses<br>
            Never run out of eyelash glue<br>
            No chemicals near the eye<br>
            No damage to natural lashes<br>
            Lightweight<br>
            Easy application and gentle to remove<br>
            Perfect for those with allergies<br>
            Cruelty free
            </p>
        </div>
        </div>
        <div class="col-sm about-col-right">
        <div class="col-6 about-image">
            <img class="img-fluid" src="media/about-magnetic-eyes.png" alt="Magnetic Eyes in use">
        </div>
        </div>
    </div>
</div>


{% endblock %}

