/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* CSS Styling for Homepage and Application page */

/* Homepage */
.jumbotron-section {
    background: url('/media/homepage-banner.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    width: 100%;
}

.jumbotron-content {
    background-color: transparent;
    padding-top: 27vh;
}

.intro-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

/* Products Section */
.products-row-title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px; 
}

.products-row {
    margin: 50px;
}
.card {
  border: none;
  background: transparent;
}


/* About Section */
.about-container {
    margin-top: 175px;
    margin-bottom: 175px;
} 

.about-images,
.application-images img {
    display: block;
    margin: auto;
}

.about-content,
.application-content {
    padding: 20px 0px;
}

.about-container-what {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Application Page */

.application-jumbotron-section {
    background: url('/media/application-banner.png') no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
}

.application-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.application-intro-container {
    margin-top: 100px;
}

.application-row {
    margin: 50px;
}

.application-container {
    margin-top: 100px;
    margin-bottom: 100px;
} 

.application-images img {
    display: block;
    margin: auto;
}


.application-content li {
    padding-bottom: 20px;
}

.route-2-row {
    padding-top: 75px;
    padding-bottom: 100px;
}

/* -------------------------------------- Media Queries */


@media only screen and (min-width: 1200px) {
.jumbotron-content {
    padding-top: 35vh;
    }
}

@media only screen and (max-width: 768px) {

    body {
        font-size: 14px;
    }

    .jumbotron-content {
        padding-top: 20vh;
    }
    
    .jumbotron-section {
    background: url('/media/homepage-banner-mob.jpg') no-repeat center center;
    background-size: cover;
    }

    .application-jumbotron-section {
    background: url('/media/application-banner-mob.jpg') no-repeat center center;
    background-size: cover;
}
    
    .application-intro-container {
    margin-top: 0px;
    }

    .application-jumbotron-content h1,
    .jumbotron-content h1 {
    font-size: 2.75rem;
    }

    .intro-row,
    .application-row {
        padding-top: 100px;
        padding-bottom: 50px;
        margin: 0px 30px;
    }

    .about-container,
    .application-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .triple-magnet-applicaiton,
    .double-magnet-applicaiton {
        padding: 0;
    }

    .extra-tips {
        margin-top: 0;
    }
}