/* CSS Styling for Homepage, contact page and Application page */

/* Homepage */
.jumbotron-section {
    background: url('/media/homepage-banner.png') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
}

.jumbotron-content {
    background-color: transparent;
    padding-top: 27vh;
}

.intro-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

/* Products Section */
.products-row-title {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px; 
}

.products-row {
    margin: 50px;
}
.card {
  border: none;
  background: transparent;
}


/* About Section */
.about-container {
    margin-top: 200px;
    margin-bottom: 200px;
} 

.about-images,
.application-images img {
    display: block;
    margin: auto;
}

.about-content,
.application-content {
    padding: 20px 0px;
}

.about-container-what {
    display: flex;
}

/* Subscriptions Section */

.subscriptions-container {
    background: url('/media/subscribe-image2.png') no-repeat center center;
    background-size: cover;
    height: 60vh;
    color: white;
}

.subscriptions-col {
    padding-top: 10vh;
    padding-left: 100px;
}

/* Application Page */

.application-jumbotron-section {
    background: url('/media/application-banner.png') no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
}

.application-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.application-row {
    padding-top: 50px;
    margin: 50px;
}

.application-row h2 {
    padding-top: 50px;
}

.application-container {
    margin-top: 100px;
    margin-bottom: 100px;
} 

.application-images img {
    display: block;
    margin: auto;
}

.application-content {
    padding-top: 40px;
}


.route-2-row {
    padding-top: 75px;
    padding-bottom: 100px;
}

/* -------------------------------------- Media Queries */

@media only screen and (min-width: 1200px) {
.jumbotron-content {
    background-color: transparent;
    padding-top: 35vh;
    }

@media only screen and (max-width: 1200px) {
.jumbotron-section {
    background: url('/media/homepage-banner-mobile.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: white;
}

.jumbotron-content {
    background-color: transparent;
    padding-top: 35vh;
    }

@media only screen and (max-width: 768px) {

.jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
    }

.jumbotron-content h1,
.application-jumbotron-content h1 {
    font-size: 2.75rem;
    }

.intro-row,
.application-row {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0px 30px;
    }

.about-container {
    margin-top: 100px;
    margin-bottom: 50px;
} 

.about-text h2 {
    padding-top: 50px;
}

.about-container-what {
    display: flex;
}

.subscriptions-col {
    padding-left: 20px;
}

.route-2-row {
    padding-top: 75px;
    padding-bottom: 50px;
}

.application-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.application-content {
    padding-top: 0px;
}

.application-text {
    padding-top: 50px;
}

}

@media only screen and (max-width: 600px) {

.jumbotron-content h1 {
    font-size: 2.50rem;
    }

}