{% extends "base.html" %} 
{% load static %} 
{% block content %} 

<!-- Jumbotron -->
<div class="jumbotron-container contact-jumbotron-section">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron contact-jumbotron-content text-center">
        <h1 class="display-4">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row contact-text-row">
    <div class="col-12">
      <h2>Have a question?</h2>
      <p>
        Whether it is about your order, that you require more information about
        a product, or simply want to ask how we are, feel free to drop us a
        message in the form below.
      </p>
    </div>
  </div>
</div>

<!-- Contact Form -->
<div class="container contact-container">
  <div class="row contact-form-row">
    <div class="col-12">
      <form action="" method="post">
        {% csrf_token %} {{ form|crispy }}
        <div class="form-actions">
          <button class="btn-yellow" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}