{% extends "base.html" %} {% load static %} {% block content %} {% block extracss %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
{% endblock %}

<div class="container bag-container">
  <div class="row">
    <div class="col">
      <h2>My Profile</h2>
    </div>
  </div>



{% endblock %} {% block postloadjs %} {{ block.super }} 
{{ stripe_public_key|json_script:"id_stripe_public_key" }} 
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
