{% extends "base.html" %} {% load static %} {% block content %}

<!-- Jumbotron -->
<div class="jumbotron-container contact-jumbotron-section">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron contact-jumbotron-content text-center">
        <h1 class="display-4">Contact Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="row contact-text-row">
    <div class="col-12">
      <h2>Thank you for your message!</h2>
      <p>We will get back to you as soon as we can.</p>
    </div>
  </div>
</section>

<!-- Back to home -->
<section class="container contact-container">
  <div class="row contact-form-row">
    <div class="col-12">
      <a href="{% url 'home' %}" class="btn btn-yellow">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span>Back to Home</span>
      </a>
    </div>
  </div>
</section>
{% endblock %}
