{% extends "base.html" %} 
{% load static %} 
{% block content %} 
{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}

<div class="container bag-container">
  <div class="row">
    <div class="col">
      <h2>Thank You</h2>
      <p>
        You order has been received. The details of your order are below and a
        confirmation email will be sent to <strong>{{ order.email }}</strong>
      </p>
    </div>
  </div>

  <!-- Order Summary Info -->
  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="order-confirmation-wrapper p-2 border">
        <div class="row">
          <div class="col">
            <small>Order Info:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Order Number</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.order_number }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Order Date</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.date }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small>Order Details:</small>
          </div>
        </div>

        {% for item in order.lineitems.all %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p>{{ item.product.name }}</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ item.quantity }} @ £{{ item.product.price }} each</p>
          </div>
        </div>
        {% endfor %}

        <!-- Delviering To -->
        <div class="row">
          <div class="col">
            <small>Delivering To:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Full Name</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.full_name }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Address 1</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.street_address1 }}</p>
          </div>
        </div>

        {% if order.street_address2 %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p>Address 2</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.street_address1 }}</p>
          </div>
        </div>
        {% endif %} {% if order.county %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p>County</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.county }}</p>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Town or City</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.town_or_city }}</p>
          </div>
        </div>

        {% if order.postcode %}
        <div class="row">
          <div class="col-12 col-md-4">
            <p>Postal Code</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.postcode }}</p>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Country</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.country }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Phone Number</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.phone_number }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <small>Billing Info:</small>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Order Total</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.order_total }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Delivery</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.delivery_cost }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4">
            <p>Grand Total</p>
          </div>
          <div class="col-12 col-md-8 text-md-right">
            <p>{{ order.grand_total }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-7 text-right mt-3">
      {% if from_profile %}
      <a href="{% url 'profile' %}" class="btn btn-secondary">
        <span class="icon mr-2">
          <i class="fas fa-angle-left"></i>
        </span>
        <span>Back to Profile</span>
      </a>
      {% else %}
      <a href="{% url 'home' %}" class="btn btn-yellow">
        <span class="icon mr-2">
          <i class="fas fa-home"></i>
        </span>
        <span>Back to the homepage</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
