html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    color: #282828;
    size: 16px;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h4 {
    font-family: 'Permanent Marker', cursive;
}

/* Buttons */

.btn-primary {
    background-color: #FFE902;
    border: none;
    color: #282828;
}

/* Nav Bar */
.navbar-brand {
    letter-spacing: 5.6px;
    font-size: 28px;
}

.nav-item {
    font-size: 16px;
    color: #282828;
}

/* Homepage */
.jumbotron-section {
    background: url('/media/homepage-banner.png') no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
    color: white;
}

.jumbotron-content {
    background-color: transparent;
    padding-top: 35vh;
}

.intro-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

/* Products Section */
.products-row-title {
    margin: 50px;
    padding-top: 50px; 
}

.products-row {
    margin: 50px;
}
.card {
  border: none;
  background: transparent;
}


/* About Section */
.about-container {
    margin-top: 100px;
}

/* Footer */

footer {
    margin-top: 50px;
}

.footer-logo {
    letter-spacing: 5.6px;
    font-size: 28px;    
}


.footer-container {
    background-color: #282828;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #F9F9F9;
}


.social-links li i {
    color: #F9F9F9;
    padding: 30px 10px;
    font-size: 20px;
}