/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    color: #2C2C2C;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h4 {
    font-family: 'Permanent Marker', impact, sans-serif;
    padding-bottom: 1rem;
}

h1 {
    font-size: 3.5rem;
}

.toast-row {
    margin: 0;
}

/* Buttons */

.btn {
    border: none;
}

.btn:active {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.btn-yellow {
    background-color: #FFE902;
    border: none;
    color: #2C2C2C;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
    background-color: #FFFBCC;
    border: none;
    color: #2C2C2C;
    outline: 0;
    text-decoration: none;
}

.btn-secondary {
    background-color: #FF8FEA;
    border: none;
    color: #2C2C2C;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #fdbef1;
    border: none;
    color: #2C2C2C;
    outline: 0;
    text-decoration: none;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btt-button {
    display: none;
}

/* Devliery Banner */

.delivery-container {
    background-color: #2C2C2C;
    color: #F9F9F9;
}

.delivery-col P {
    Padding: 5px 0px;
    margin: 0;
}

/* Nav Bar */

.navbar {
    margin: 0px 24px;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    letter-spacing: 5.6px;
    font-size: 28px;
    margin-right: 0px;
}

.my-account-mobile {
    display: none;
}

.nav-item {
    font-size: 16px;
}

.nav-icons {
    width: auto;
    padding: 0px;
    padding-right: 5px;
}

.nav-icons ul li {
    padding: 0px 5px;
}


.nav-bag p {
    color: #7b7c7c!important;
}

.dropdown-menu {
    background-color: #f8f9fa;
}

.dropdown-menu a {
    color: #7b7c7c;
}

.dropdown-menu a:active {
    background-color: #f8f9fa;
    color: #7b7c7c;
}
/* Messages / Toasts */
.message-container {
    position: fixed;
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    min-width: 200px;
    top: 90px;
    right: 15px;
    z-index: 99999;
}

.toast-header-success {
    background-color: #FF8FEA;
    color: #2C2C2C;
    font-size: 20px;
}

.toast-header {
    font-size: 20px;
}

.toast-body {
    font-size: 16px;
}

.toast-header {
    background-color: #2C2C2C;
    color: #F9F9F9;
}

.toast-close {
    color: #2C2C2C;
    opacity: 1;
}

/* Footer */

footer {
    margin-top: 50px;
}

.footer-logo {
    letter-spacing: 5.6px;
    font-size: 28px;    
}

.footer-container {
    background-color: #2C2C2C;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #F9F9F9;
}

.social-links li i {
    color: #F9F9F9;
    padding: 10px;
    font-size: 16px;
}

.footer-copyright p {
    margin: 0;
}
/* ------------------------------ Product Pages */

/* All Products Page */

.category-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.category-btns a {
    margin: 10px;
}

.product-container {
    margin-bottom: 50px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.product-jumbotron-section {
    background: url('/media/products-banner.png') no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
}

.product-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.products-text-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

.card-title {
    text-decoration: none;
    color: #2C2C2C;
}

.card-body {
    margin-bottom: 50px;
    text-decoration: none;
}

.product-category a {
    color: #2C2C2C;
}

/* Product Detail Page */

.product-detail-container {
    margin-top: 150px;
    margin-bottom: 150px;
}


/* --------------------------------------- Bag page */

.bag-container {
    margin-top: 150px;
}

/* ---------------------------------------- Contact */
.contact-jumbotron-section {
    background: url('/media/contact-banner.png') no-repeat center center;
    color: white;
}

.contact-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.contact-text-row {
    padding-top: 50px;
    margin: 50px;
}

.contact-form-row {
    margin: 50px;
}

.contact-container {
  margin-top: 6.25rem;
  margin-bottom: 100px;
}

.form-control {
  margin-bottom: 1rem;
}

/* ---------------------------------------- Blog */

.blog-jumbotron-section {
    background: url('/media/blog-banner.png') no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
}

.blog-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.blog-text-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}
/* ------------------------------------ Account Pages */

/* All Auth Styling */
.allauth-form-inner-content {
    margin-top: 3rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: red;
    border-color: red;
}

/* ------------------------------------------- Media Queries */

@media only screen and (max-width: 1200px) {
.navbar {
    margin: 16px 75px;;
    padding: 0px;
}

.navbar-toggler {
    font-size: 1rem;
}

.nav-item-list {
    text-align: left;
    padding: 40px 0px;
    max-width: 100%;
    }

.nav-item-list li {
    padding: 5px 0px;
    font-size: 18px;
    }

.navbar-brand {
    letter-spacing: 3.5px;
    font-size: 20px;
    }

.bag-icon i {
    font-size: 1rem;
}

.nav-bag-account {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    }

.my-account {
    display: none;
    }

.my-account-mobile {
    display: block;
    }
}

@media only screen and (max-width: 768px) {

h1,
h2,
h4 {
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    font-size: 14px;
}

.navbar {
    margin: 16px;
    padding: 0px;
}

.navbar-brand-col {
    width: auto;
}

.toggler-col{
    width: auto;
    padding: 0;
}

.product-jumbotron-content,
.contact-jumbotron-content,
.blog-jumbotron-content {
    padding-top: 15vh;
    padding-bottom: 15vh
}

.message-container {
    position: fixed;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    top: 150px;
    z-index: 99999;
    left: 35px;
    right: 40px;
    }

.btt-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    color: #FF8FEA;
    background-color: transparent;
    border: none;
    font-size: 40px;
    padding: 5px 15px;
}

.btt-link {
    cursor: pointer;
}

.bag-container {
    margin-top: 50px;
    }

.blog-text-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px 0px;
    }

.products-text-row {
    margin: 1rem;
    }

}


@media only screen and (max-width: 600px) {

.navbar-brand {
    letter-spacing: 3px;
    font-size: 16px;
    }

.product-detail-container {
    margin-top: 50px;
    margin-bottom: 150px;
}

.product-detail-image img {
    padding-bottom: 30px;
}

}