html,
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    color: #282828;
    size: 16px;
    width: 100%;
    overflow-x: hidden;
}

h1,
h2,
h4 {
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 30px;
}

/* Buttons */

.btn-primary {
    background-color: #FFE902;
    border: none;
    color: #282828;
}

.btn-primary:hover {
    background-color: #FFFBCC;
    border: none;
    color: #282828;
}

.btn-secondary {
    background-color: #FF8FEA;
    border: none;
    color: #282828;
}

.btn-secondary:hover {
    background-color: #fdbef1;
    border: none;
    color: #282828;
}

/* Devliery Banner */

.delivery-container {
    background-color: #282828;
    color: #F9F9F9;
}

.delivery-col P {
    Padding: 5px 0px;
    margin: 0;
}

/* Nav Bar */

.navbar-brand {
    letter-spacing: 5.6px;
    font-size: 28px;
    width: 100%;
}

.nav-item {
    font-size: 16px;
}

.nav-icons {
    width: auto;
}

/* Footer */

footer {
    margin-top: 50px;
}

.footer-logo {
    letter-spacing: 5.6px;
    font-size: 28px;    
}


.footer-container {
    background-color: #282828;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #F9F9F9;
}


.social-links li i {
    color: #F9F9F9;
    padding: 30px 10px;
    font-size: 20px;
}

/* Products Page */

.product-jumbotron-section {
    background: url('/media/application-banner.png') no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    color: white;
}

.product-jumbotron-content {
    background-color: transparent;
    padding-top: 20vh;
}

.products-text-row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 50px;
}

.card-title {
    text-decoration: none;
    color: #282828;
}

/* Product Detail Page */

.product-detail-container {
    margin-top: 150px;
}

/* Bag page */

.bag-container {
    margin-top: 150px;
}


/* Media Queries */
@media only screen and (max-width: 768px) {

h1,
h2,
h4 {
    font-family: 'Permanent Marker', cursive;
    padding-bottom: 10px;
}

.navbar {
    flex-wrap: nowrap;
}

.nav-item-list {
    text-align: left;
    padding: 40px 0px;
    max-width: 100%;
}

.nav-item-list li {
    padding: 10px 0px;
    font-size: 20px;

}

.navbar-brand {
    letter-spacing: 3.5px;
    font-size: 16px;
    }
}