{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% load socialaccount %}
{% providers_media_js %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2>{% trans "Sign In" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with your registered details or with your Google Account.
If you do not have a {{ site_name }} acount,<a href="{{ signup_url }}"> sign up here</a> and sign in below:{% endblocktrans %}</p>

<a href="{% provider_login_url 'google' %}">
          <img class="google-button"
            src="{{ MEDIA_URL }}sign_in_with_google.png"
            alt="Sign in with Google Button"
          />
        </a>
<hr class="pb-3">
<p>or sign in with your details below</p>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a class="btn-yellow" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <a class="btn-yellow button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn-secondary primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

 

{% endblock %}
