{% extends "base.html" %}
{% load static %} 
{% block extracss %}
<link rel="stylesheet" href="{% static 'home/css/base.css' %}" />
{% endblock %} {% block content %} 

<!-- Jumbotron -->
<div class="jumbotron-container product-jumbotron-section">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron product-jumbotron-content text-center">
        <h1 class="display-4">SHOP FOR MAGNETIC EYELASHES</h1>
      </div>
    </div>
  </div>
</div>

<!-- Products Intro Text -->

<div class="container">
  <div class="row products-text-row">
    <div class="col-12">
      <p>
        We believe in quality and style over quantity, which is why we have
        worked on perfecting just a handfull of custom made lash styles. <br /><br />
        Choose between a double magnet set or our newly launched triple magnet
        lashes, both in dramatic or subtle options.
      </p>
    </div>
  </div>
</div>

<!-- Products Content -->

<div class="container product-container">
  <div class="row">
    {% for product in products %}
    <div class="col-sm-6 col-md-6 col-lg-4">
      <div class="card border-0">
        <!-- Product Image -->
        {% if product.image.url %}
        <a href="{% url 'product_detail' product.id %}">
          <img
            class="card-img-top"
            src="{{ product.image.url }}"
            alt="{{ product_name }}"
          />
        </a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}">
          <img
            class="card-img-top"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ product_name }}"
          />
        </a>
        {% endif %}
      </div>

      <!-- Card Body -->
      <div class="card-body pl-0">
        <a href="{% url 'product_detail' product.id %}">
            <h4 class="card-title pb-0">{{ product.name }}</h4>
        </a>
        {% if product.category %}
            <p>
            <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}
            </a>
            </p>
        {% endif %}
        <p class="card-text">{{ product.price}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
