<div class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="bg-danger">
    <strong class="ml-2">Error!</strong>
    <button type="button toast-close" class="ml-2 mb-1 toast-close close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body bg-white">
    <div class="toast-row">
        <div class="col ml-2 pl-0 mt-2">
          {{ message }}
        </div>
      </div>
  </div>
</div>